# TBVH API
TBVH_API=https://e7e033fa495ec9bd50f031a54f593ddc166dcf23-3000.dstack-pha-prod5.phala.network
TBVH_DOMAIN=tbvh-puce.vercel.app

# Wallet (Base Sepolia)
PRIVATE_KEY=0x...

# RPC
RPC_URL=https://base-sepolia.g.alchemy.com/v2/YOUR_KEY
